<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
post
<br>

<br>
<table id="body">
    <thead>
      <tr>

        <th>Title</th>
        <th>Text</th>
        <th>Date created</th>
        <th>Date updated</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{post.title}}</td>
        <td>{{post.text}}</td>
        <td>{{post.date_created}}</td>
        <td>{{post.date_updated}}</td>      
      </tr>
    </tbody>
  </table>





</body>
</html>